@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
	background-color: #F2F2F2;
}

.clear {
	clear: both;
}

#simon {
	width: 35em;
	height: 35em;
	border-radius: 50%;
	margin: 0 auto;
	color: white;
	background-color: #121212;
	position: relative;
}

#simon button {
	border: none;
}

#simon button:focus {
	outline: none;
}

#simonMenuBox {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: #121212;
	position: absolute;
	left: 25%;
	top:  25%;
	z-index: 2;
}

#title {
	font-family: 'Squada One', cursive;
	font-size: 5em;
	color: #CFD0D6;
	width: 90%;
	border-radius: 50%;
	position: relative;
	top: 10%;
	left: 5%;
}

/* MENU */

#menu {
	height: 25%;
	width: 70%;
	margin: 0 auto;
	position: relative;
}

#menu p {
	font-size: 0.7em;
	text-align: center;
}

#levelBox {
	height: 100%;
	width: 40%;
	float: left;
}

#levelDisplay {
	width: 100%;
	height: 80%;
	margin-bottom: 3%;
	padding: 0;
	border: 0.3em solid #222222;
	border-radius: 20%;
	background-color: #454F2E;
	text-align: center;
}

#levelDisplay p {
	color: #121212;
	font-size: 1.9em;
	margin-top: 0.1em;
}

.circleBox {
	display: inline-block;
	width: 30%;
	/* height = width (javascript) */
}

.circleButton {
	display: block;
	position: relative;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	margin: 25% auto;
}

.circleButton:active {
	top: 0.1em;
}

#startBox {
	float: left;
}

#startButton {
	background-color: #4EAD4A;
}

#strictButton {
	background-color: #EB9D3E;
}

/* ON/OFF SWITCH BUTTON */

#switch {
	font-family: 'Squada One', cursive;
	width: 35%;
	height: 8%;
	margin: 0 auto;
	position: relative;
	left: 1.5%;
	position: relative;
	top: 10%;
}

#switch p {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#switchButton {
	height: 100%;
	width: 50%;
	margin: 0 6%;
	padding: 3%;
	border: none;
	border-radius: 10%;
	background-color: #EAE5EC;
}

#switchToggle {
	display: inline-block;
	height: 100%;
	width: 50%;
	border-radius: 20%;
	background-color: #2E8ADB;
	float: right;
}

/* GAME BUTTONS */

.gameButton {
	display: inline-block;
	width: 44%;
	height: 44%;
	margin-left: 4%;
	margin-top: 4%;
}

#button1 {
	background-color: #19956C;
	border-radius: 100% 0 0 0;
}

#button2 {
	background-color: #DC3C31;
	border-radius: 0 100% 0 0;
}

#button3 {
	background-color: #F8C319;
	border-radius: 0 0 0 100%;
}

#button4 {
	background-color: #2978C4;
	border-radius: 0 0 100% 0;
}

/* Credits */

#credit {
	color: #D6D6D6;
	opacity: 0.8;
}

#credit a {
	color: #D6D6D6;
}

#credit a:hover {
	color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px), screen and (max-height: 767px) {
	#simon {
		width: 25em;
		height: 25em;
		top: 5em;
	}

	#title {
		font-size: 4em;
	}

	#menu {
		font-size: 0.8em;
		top: -3%;
	}

	#levelDisplay p {
		margin-top: 0.04em;
	}

	#switch {
		top: 5%;
	}

	#switch p {
		font-size: 0.7em;
	}

	#credit {
		font-size: 0.7em;
	}

}

@media screen and (max-width: 480px), screen and (max-height: 480px) {
	#simon {
		width: 20em;
		height: 20em;
	}

	#title {
		font-size: 3em;
	}

	#menu {
		font-size: 0.6em;
	}

	#switch p {
		font-size: 0.6em;
	}

	#credit {
		font-size: 0.4em;
		margin-top: 0.5em;
	}
}
